<footer class="footer-container bg-dark text-white text-center text-md-left ">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <h4 class="my-3">Navigáció</h4>
                <nav class="nav flex-column my-4">
                    <a class="nav-link text-white" routerLink="">Főoldal <span class="sr-only">(current)</span></a>
                    <a class="nav-link text-white" routerLink="customers">Vásárlók</a>
                    <a class="nav-link text-white" routerLink="movies">Virágok</a>
                    <a class="nav-link text-white" routerLink="orders">Megrendelések</a>
                    <a class="nav-link text-white" routerLink="orders">Kiemelt ajánlatok</a>
                </nav>
            </div>
            <div class="col-md-6">
                <h5 class=" text-center my-3">Elérhetőségem</h5>
                <nav class="nav flex-row my-4 justify-content-center">
                    <a href="https://www.linkedin.com/in/anik%C3%B3-horv%C3%A1th/" class="text-white mr-3"
                        target="_blank">
                        <i class="fa fa-linkedin fa-2x"></i>
                    </a>
                </nav>
            </div>
        </div>
    </div>
</footer>