<div class="header my-4">
    <h1 class="text-center"> Kiemelt ajánlatok </h1>
</div>

<div class="card-body d-flex flex-wrap">
    <div class="row">
        <div class="col-sm-6">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Wildflower In Flight Bouquet</h5>
                    <p class="card-text">With its feminine feel and European charm, this alluring glass cube
                        is the
                        perfect
                        Mother's Day surprise! It's carefully handdecorated and filled with a fresh bouquet
                        of
                        daisies
                        and
                        roses.</p>
                    <img src="https://assets.eflorist.com/assets/products/PHR_/T18M400A.jpg" style="height: 22rem;"
                        alt="Max-width 100%">
                </div>
                <a href="flowers" class="btn btn-primary">Tovább a virágokhoz</a>
            </div>
        </div>

        <div class="col-sm-6">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Fabulous Flora Bouquet</h5>
                    <p class="card-text">With its feminine feel and European charm, this alluring glass cube
                        is the
                        perfect
                        Mother's Day surprise! It's carefully handdecorated and filled with a fresh bouquet
                        of
                        daisies
                        and
                        roses.Just fabulous! From its perky pink cube and perfect pink roses, to its
                        textural greens
                        and
                        dramatic pink lilies, this chic bouquet is flora at its finest!</p>
                    <img src="https://img.teleflora.com/images/o_0/l_flowers:TLR09-1C,pg_6/w_368,h_460,cs_no_cmyk,c_pad/f_jpg,q_auto:eco,e_sharpen:200/flowers/TLR09-1C/Teleflora'sFabulousFloraBouquetPM"
                        style="height: 22rem;">
                </div>
                <a href="flowers" class="btn btn-primary">Tovább a virágokhoz</a>
            </div>
        </div>
    </div>

    <div class="col-sm-6">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Intoxicating Beauty Bouquet</h5>
                <p class="card-text">Luxuriate in the natural, intoxicating beauty of this chic arrangement.
                    Inspired by
                    a wild garden, this composition of whisper-peach roses, white lilies and moody purple
                    hydrangea
                    is
                    beautifully presented in a modern ceramic planter.</p>
                <img src="https://img.teleflora.com/images/o_0/l_flowers:TEV56-8B,pg_6/w_800,h_1000,cs_no_cmyk,c_pad/f_jpg,q_auto:eco,e_sharpen:200/flowers/TEV56-8B/IntoxicatingBeautyBouquetDX"
                    style="height: 22rem;">
            </div>
            <a href="flowers" class="btn btn-primary">Tovább a virágokhoz</a>
        </div>
    </div>

    <div class="col-sm-6">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Vivid Love Bouquet</h5>
                <p class="card-text">Bold and beautiful! This gorgeous jewel-toned arrangement is a stunning
                    statement
                    of
                    devotion, wrapped with leaves for a
                    stylish, modern touch.</p>
                <img src="https://img.teleflora.com/images/o_0/l_flowers:TEV55-4C,pg_6/w_800,h_1000,cs_no_cmyk,c_pad/f_jpg,q_auto:eco,e_sharpen:200/flowers/TEV55-4C/Teleflora'sVividLoveBouquetPM"
                    style="height: 22rem;">
            </div>
            <a href="flowers" class="btn btn-primary">Tovább a virágokhoz</a>
        </div>
    </div>

    <div class="col-sm-6">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Heart and Soul</h5>
                <p class="card-text">Send someone this soulful floral gift and there'll be no mistaking that
                    you're
                    giving them your heart! A heart made
                    entirely of red roses is nestled in a cloud of baby's breath and ferns and presented in
                    a tall
                    red
                    vase adorned with a
                    pretty ribbon.</p>
                <img src="https://img.teleflora.com/images/o_0/l_flowers:T11Z102A,pg_6/w_368,h_460,cs_no_cmyk,c_pad/f_jpg,q_auto:eco,e_sharpen:200/flowers/T11Z102A/HeartandSoul"
                    style="height: 22rem;">
            </div>
            <a href="flowers" class="btn btn-primary">Tovább a virágokhoz</a>
        </div>
    </div>

    <div class="col-sm-6">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Dazzling Orchid</h5>
                <p class="card-text">When you want to dazzle them, send this majestic purple orchid! Nestled
                    in a
                    bed of
                    moss, the glorious living
                    phalaenopsis plant looks lovely in this bubble-textured pink glass vase with glamorous
                    metallic
                    finish.
                </p>
                <img src="https://img.teleflora.com/images/o_0/l_flowers:T19S110A,pg_6/w_800,h_1000,cs_no_cmyk,c_pad/f_jpg,q_auto:eco,e_sharpen:200/flowers/T19S110A/Teleflora'sDazzlingOrchid"
                    style="height: 22rem;">
            </div>
            <a href="flowers" class="btn btn-primary">Tovább a virágokhoz</a>
        </div>
    </div>

    <div class="col-sm-6">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Sunny Day Pitcher of Cheer</h5>
                <p class="card-text">Three cheers for sunny yellow! A happy pick for men and women, old and
                    young,
                    this
                    sweet, summery arrangement of yellow
                    and white flowers is delivered in our signature Sunny Day Pitcher!
                </p>
                <img src="https://img.teleflora.com/images/o_0/l_flowers:T57-1A,pg_6/w_368,h_460,cs_no_cmyk,c_pad/f_jpg,q_auto:eco,e_sharpen:200/flowers/T57-1A/Teleflora'sSunnyDayPitcherofCheer"
                    style="height: 22rem;">
            </div>
            <a href="flowers" class="btn btn-primary">Tovább a virágokhoz</a>
        </div>
    </div>

    <div class="col-sm-6">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Make Her Day</h5>
                <p class="card-text">This sweet bouquet includes a vast array of green miniature hydrangea
                    and light
                    pink
                    spray roses arranged in our citrus
                    green glass cube.
                </p>
                <img src="https://img.teleflora.com/images/o_0/l_flowers:TEV20-3A,pg_6/w_368,h_460,cs_no_cmyk,c_pad/f_jpg,q_auto:eco,e_sharpen:200/flowers/TEV20-3A/MakeHerDaybyTeleflora"
                    style="height: 22rem;">
            </div>
            <a href="flowers" class="btn btn-primary">Tovább a virágokhoz</a>
        </div>
    </div>