.sorter-header{
    cursor: pointer;
    background-color: rgba($color: #eb6ebb, $alpha: 0.7);
}

.sorter-header:active{
    background-color: rgba($color: #eb6ebb, $alpha: 0.7);
}

.container-fluid{
    min-width: 100vw;
}

