<div class="bg-img">
    <div class="container-fluid">
        <div class="topnav">
            <nav class="navbar navbar-expand-xl navbar-light px-3" style="background-color: #e195d9;">
                <a class="navbar-brand" href="#">Annie's Flowers</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse justify-content-between" id="navbarSupportedContent">
                    <ul class="navbar-nav mr-auto ">
                        <li class="nav-item active">
                            <a class="nav-link" routerLink="">Főoldal</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" routerLink="customers">Vásárlók</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" routerLink="flowers">Virágok</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" routerLink="orders">Megrendelések</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" routerLink="topoffers">Kiemelt ajánlatok</a>
                        </li>
                    </ul>
                    <div *ngIf="!(user$ | async)" class=" ml-auto float-right mr-3">
                        <a class="btn btn-outline-info" routerLink="login">Bejelentkezés</a>
                    </div>
                    <div *ngIf="(user$ | async)" class=" ml-auto float-right mr-3">
                        <a class="btn btn-outline-secondary" (click)="onLogout()">Kijelentkezés</a>
                    </div>
                </div>
            </nav>