<div class="header my-4">
    <h1 class="text-center"> Annie's Flower admin oldala </h1>
</div>

<div class="row mb-5">
    <div class="col-md-6 mx-auto d-flex justify-content-center">
        <div class="card" style="width: 18rem;">
            <img src="https://img.teleflora.com/images/o_0/l_flowers:T25-1C,pg_6/w_368,h_460,cs_no_cmyk,c_pad/f_jpg,q_auto:eco,e_sharpen:200/flowers/T25-1C/Teleflora's'48FordPickupBouquetPM"
                style="height: 22rem;" class="card-img-top" alt="48 Ford Pickup Bouquet">
            <div class="card-body">
                <h5 class="card-title">Legnépszerűbb termék:</h5>
                <h5 class="card-title">48 Ford Pickup Bouquet </h5>
                <a routerLink="flowers" class="btn btn-primary">Tovább a virágokhoz</a>
            </div>
        </div>
    </div>
</div>