.table-scrollable{    
    overflow-x: scroll;
    min-height: calc(65vh);
    @media screen and (max-width: 1200px) {
        min-width: 100vw;
      }
}

.sorter-header {
  cursor: pointer;
  user-select: none;
}

.input{
  min-width: 12rem;
} 